<head>
    <title>Timetable Dashboard</title>
    <style>
        .parent {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
  }
  
  header {
    padding: 2rem;
    grid-column: 1 / 4;
    background-color: #111;
  }
  
  .left-side {
    grid-column: 1 / 2;
    height: 1000px;
    display: flex;
    flex-direction: column;
    background-color: #111;
  }
  
  main {
    grid-column: 2 / 3;
  }
  
  footer {
    grid-column: 1 / 4;
    background-color: #111;
  }

  h1 {
    margin: 0;
    color: #f1f1f1;
  }

button {
  flex-grow: 200%;
}

.middle {
  display: flex;
}

ul {
  /* border: solid red 2px; */
  list-style-type: none;
}

ul li{
  padding: 10px;
}

.directory{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.directory:hover {
  color: #f1f1f1;
}

.input_field{
  display:flex;
  flex-direction: column;
  height: 100px;
  margin: 50px;
}

input {
  
}

main p{
  margin: 50px;
}


</style>
</head>