<html>
    <%- include('./partials/head.ejs') %> 
    <body>
        <div class="parent">
            <header class="section coral"><h1>Timetable Optimizer</h1></header>

            <div class="left-side section blue">
                <a class="directory" >Dashboard</a>
                <a  class="directory" href="/input_page">
                    Add Timetable
                </a>
            </div>

            <main class="middle">
                <ul>
                    <li>Upcoming</li>
                    <li>Friend 1 : 32:00</li>
                    <li>Friend 1 : 32:00</li>
                    <li>Friend 1 : 32:00</li>
                    <li>Friend 1 : 32:00</li>
                    <li>Friend 1 : 32:00</li>
                </ul>

                <ul>
                    <li>Free for a while</li>
                    <li>Friend 1 : 32:00</li>
                    <li>Friend 1 : 32:00</li>
                    <li>Friend 1 : 32:00</li>
                    <li>Friend 1 : 32:00</li>
                    <li>Friend 1 : 32:00</li>
                </ul>

                <ul>
                    <li>Will have class soon</li>
                    <li>Friend 1 : 32:00</li>
                    <li>Friend 1 : 32:00</li>
                    <li>Friend 1 : 32:00</li>
                    <li>Friend 1 : 32:00</li>
                    <li>Friend 1 : 32:00</li>
                </ul>

                <ul>
                    <li>In classs</li>
                    <li>Friend 1 : 32:00</li>
                    <li>Friend 1 : 32:00</li>
                    <li>Friend 1 : 32:00</li>
                    <li>Friend 1 : 32:00</li>
                    <li>Friend 1 : 32:00</li>
                </ul>
            </main>

            <div class="right-side section yellow">Right Sidebar</div>

            <footer class="section coral">Nothing matters</footer>
          </div>
    </body>
</html>