<html>
    <%- include('./partials/head.ejs') %> 

    <body>
        <div class="parent">
            <header class="section coral"><h1>Timetable Optimizer</h1></header>

            <div class="left-side section blue">                
                <div>Left SideBar</div>
            </div>

            <form action="/login_page" method="post" class="login_box">
                <p>
                    This is the page where you enter your credentials.
                </p>
                <input type="text" id="email" placeholder ="email" name="email">
                <input type="password" id="password" placeholder ="Password" name="password">
                <input type="submit">
            </form>

            <div class="right-side section yellow">Right Sidebar</div>

            <footer class="section coral">Nothing matters</footer>
          </div>
    </body>
</html>